backend/data_collection/dify/法规dify/抱团压价-政策法规实体提取.yml
app:
  description: 对资本市场政策法规的文本内容进行实体抽取与关系抽取，构建指定格式的三元组。
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 抱团压价-政策法规实体提取
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.11@35bcd3f233f99d07bdadef8b326945df3bda5e8f773330144bc90d84800336b9
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: document-extractor
      id: 1758523492950-source-1758523992908-target
      selected: false
      source: '1758523492950'
      sourceHandle: source
      target: '1758523992908'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: document-extractor
        targetType: code
      id: 1758523992908-source-17585314932320-target
      selected: false
      source: '1758523992908'
      sourceHandle: source
      target: '17585314932320'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1758540949631'
        sourceType: iteration-start
        targetType: llm
      id: 1758540949631start-source-1758540967382-target
      selected: false
      source: 1758540949631start
      sourceHandle: source
      target: '1758540967382'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: false
        sourceType: code
        targetType: iteration
      id: 17585314932320-source-1758540949631-target
      selected: false
      source: '17585314932320'
      sourceHandle: source
      target: '1758540949631'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: iteration
        targetType: code
      id: 1758540949631-source-1774416556620-target
      selected: false
      source: '1758540949631'
      sourceHandle: source
      target: '1774416556620'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: code
      id: 1774416556620-source-1774419330416-target
      selected: false
      source: '1774416556620'
      sourceHandle: source
      target: '1774419330416'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1774419330416-source-1758524259290-target
      selected: false
      source: '1774419330416'
      sourceHandle: source
      target: '1758524259290'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: policy_file
          max_length: 48
          options: []
          required: true
          type: file
          variable: policy_file
      height: 108
      id: '1758523492950'
      position:
        x: -155.30172019896014
        y: 421.8241402274583
      positionAbsolute:
        x: -155.30172019896014
        y: 421.8241402274583
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        is_array_file: false
        selected: false
        title: 文档提取器
        type: document-extractor
        variable_selector:
        - '1758523492950'
        - policy_file
      height: 104
      id: '1758523992908'
      position:
        x: 129.9473942071171
        y: 442.8241402274583
      positionAbsolute:
        x: 129.9473942071171
        y: 442.8241402274583
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1774419330416'
          - final_triples
          value_type: string
          variable: output_triples
        selected: true
        title: 结束
        type: end
      height: 88
      id: '1758524259290'
      position:
        x: 1717.006639762117
        y: 442.8241402274583
      positionAbsolute:
        x: 1717.006639762117
        y: 442.8241402274583
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(text: str) -> dict:\n    import re\n\n    # ✅ 修正后的文档标题提取\n\
          \    title_match = re.search(r'^([^\\(（]+)', text)\n    doc_title = title_match.group(1).strip()\
          \ if title_match else \"法规文件\"\n\n    # 初始化输出列表\n    text_blocks = []\n\n\
          \    # 提取章节（修正后的正则表达式）\n    chapters = re.findall(\n        r\"(?:^|\\n)(第[一二三四五六七八九十百]+章.*?)(?=第[一二三四五六七八九十百]+章|\\\
          Z)\",\n        text,\n        re.DOTALL | re.MULTILINE\n    )\n\n    if\
          \ chapters:\n        for chap_idx, chap_content in enumerate(chapters, start=1):\n\
          \            # 分离章节标题和内容\n            chap_title = re.search(r'^第[一二三四五六七八九十百]+章.*?(?=\\\
          n|$)', chap_content).group(0).strip()\n            chap_body = re.sub(r'^'\
          \ + re.escape(chap_title), '', chap_content, count=1).strip()\n\n      \
          \      # 提取条款\n            articles = re.findall(\n                r\"(第[一二三四五六七八九十百]+条.*?)(?=第[一二三四五六七八九十百]+条|\\\
          Z)\",\n                chap_body,\n                re.DOTALL\n         \
          \   )\n\n            if articles:\n                for art_content in articles:\n\
          \                    art_title = re.search(r'^第[一二三四五六七八九十百]+条.*?(?=\\n|$)',\
          \ art_content).group(0).strip()\n                    art_body = re.sub(r'^'\
          \ + re.escape(art_title), '', art_content, count=1).strip()\n          \
          \          block = f\"文档：{doc_title}\\n章节：{chap_title}\\n条款：{art_title}\\\
          n内容：{art_body[:1000]}\"\n                    text_blocks.append(block)\n\
          \            else:\n                block = f\"文档：{doc_title}\\n章节：{chap_title}\\\
          n内容：{chap_body[:1500]}\"\n                text_blocks.append(block)\n  \
          \  else:\n        # 无章节结构时直接处理条款\n        articles = re.findall(\n     \
          \       r\"(第[一二三四五六七八九十百]+条.*?)(?=第[一二三四五六七八九十百]+条|\\Z)\",\n          \
          \  text,\n            re.DOTALL\n        )\n\n        if articles:\n   \
          \         for art_content in articles:\n                art_title = re.search(r'^第[一二三四五六七八九十百]+条.*?(?=\\\
          n|$)', art_content).group(0).strip()\n                art_body = re.sub(r'^'\
          \ + re.escape(art_title), '', art_content, count=1).strip()\n          \
          \      block = f\"文档：{doc_title}\\n条款：{art_title}\\n内容：{art_body[:1500]}\"\
          \n                text_blocks.append(block)\n        else:\n           \
          \ text_blocks.append(f\"文档：{doc_title}\\n内容：{text[:2000]}\")\n\n    # 限制输出数量\n\
          \    text_blocks = text_blocks[:100] if len(text_blocks) > 100 else text_blocks\n\
          \n    # 设置输出变量\n    block_count = len(text_blocks)\n    first_block = text_blocks[0]\
          \ if text_blocks else \"\"\n\n    return {\n        \"text_blocks\": text_blocks,\n\
          \        \"block_count\": block_count,\n        \"first_block\": first_block\n\
          \    }"
        code_language: python3
        desc: ''
        isInIteration: true
        isInLoop: false
        iteration_id: '1758530809383'
        outputs:
          block_count:
            children: null
            type: number
          first_block:
            children: null
            type: string
          text_blocks:
            children: null
            type: array[string]
        selected: false
        title: 文本分块
        type: code
        variables:
        - value_selector:
          - '1758523992908'
          - text
          value_type: string
          variable: text
      height: 51
      id: '17585314932320'
      position:
        x: 400.40133435586824
        y: 442.79698649935625
      positionAbsolute:
        x: 400.40133435586824
        y: 442.79698649935625
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        desc: ''
        error_handle_mode: continue-on-error
        height: 173
        is_parallel: false
        iterator_input_type: array[string]
        iterator_selector:
        - '17585314932320'
        - text_blocks
        output_selector:
        - '1758540967382'
        - text
        output_type: array[string]
        parallel_nums: 10
        selected: false
        start_node_id: 1758540949631start
        title: 迭代
        type: iteration
        width: 387
      height: 173
      id: '1758540949631'
      position:
        x: 701.5276396830201
        y: 442.8241402274583
      positionAbsolute:
        x: 701.5276396830201
        y: 442.8241402274583
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 387
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1758540949631start
      parentId: '1758540949631'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 725.5276396830201
        y: 510.8241402274583
      selectable: false
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: true
        isInLoop: false
        iteration_id: '1758540949631'
        model:
          completion_params: {}
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: cd09f6dc-1f47-403a-afc5-26473a279696
          role: system
          text: "你是一名专业的法律文本分析专家，熟悉中国反不正当竞争执法实践，精通《中华人民共和国反不正当竞争法》（2025年修订）、《电子商务法》《禁止滥用市场支配地位行为规定》等制度性文件的结构与用语，擅长从条文中精准识别优势地位主体、压价/拖欠手段、限制条件、受害方以及监管处罚逻辑。\n\
            \n任务说明\n从输入的法规文本块中，抽取并分类识别以下六类实体：\n所有抽取结果必须为文本中原文出现的连续片段，严禁任何概括、改写、缩写或意译。\n\
            \n1. AdvantageHolder（优势地位主体）\n   具有资金、技术、渠道、平台规则等优势的一方，即施压方。\n   示例：平台经营者；大型企业等经营者\n\
            \n2. DisadvantageHolder（劣势地位主体）\n   被压价、被拖欠、被迫低价销售的一方。\n   示例：平台内经营者；中小企业\n\
            \n3. Action（禁止行为）\n   条文中明确禁止的抱团压价或滥用优势地位行为。\n   示例：强制或者变相强制平台内经营者以低于成本的价格销售商品；滥用自身资金、技术、交易渠道、行业影响力等方面的优势地位，要求中小企业接受明显不合理的付款期限、方式、条件和违约责任等交易条件，拖欠中小企业的货物、工程、服务等账款\n\
            \n4. PunishmentMeasure（处罚措施）\n   对应的行政处罚表述。\n   示例：处五万元以上五十万元以下的罚款；情节严重的，处五十万元以上二百万元以下的罚款\n\
            \n5. RegulatoryAuthority（监管机构）\n   具有查处、处罚权的机构。\n   示例：县级以上人民政府履行市场监督管理职责的部门；省级以上人民政府监督检查部门\n\
            \n6. Law（引用的其他法律）\n   条文中明确引用的其他法律法规。\n   示例：《中华人民共和国行政强制法》；《中华人民共和国广告法》\n\
            \n关键词识别标准\n1. AdvantageHolder\n常见词汇：“平台经营者”“大型企业等经营者”“经营者.*滥用”“具有优势地位的”“利用.*优势地位”\n\
            \n2. DisadvantageHolder\n常见词汇：“平台内经营者”“中小企业”“交易相对方”\n\n3. Action（重点识别完整禁止行为表述）\n\
            常见动词/短语：\n强制或者变相强制.*以低于成本的价格销售商品\n滥用自身资金、技术、交易渠道、行业影响力等方面的优势地位\n要求.*接受明显不合理的付款期限、方式、条件和违约责任等交易条件\n\
            拖欠.*账款\n利用数据和算法、技术、平台规则.*妨碍、破坏\n滥用平台规则，直接或者指使他人对其他经营者实施虚假交易、虚假评价或者恶意退货\n\
            \n4. PunishmentMeasure\n常见动词/短语：\n责令停止违法行为\n处.*万元以上.*万元以下的罚款\n情节严重的，处.*万元以上.*万元以下的罚款\n\
            逾期不改正的，处.*罚款\n可以并处吊销营业执照\n\n5. RegulatoryAuthority\n常见词汇：\n监督检查部门\n县级以上人民政府履行市场监督管理职责的部门\n\
            省级以上人民政府监督检查部门\n设区的市级以上人民政府监督检查部门\n\n6. Law\n常见表达：“违反本法第.*条”“依照《.*法》”“本法第.*条规定”“参照《.*》”“根据《.*》”\n\
            • 抽取含《》的完整法规名称，或“本法第X条规定”\n\n输出格式要求\n每条条款独立输出一行，格式如下（严格遵守顺序和标点）：\n条款编号，\n\
            Title：文档标题\nChapter：章节标题\nSection：条款标题\nAdvantageHolder：主体1；主体2；…\nDisadvantageHolder：主体1；主体2；…\n\
            Action：行为1；行为2；…\nPunishmentMeasure：处罚1；处罚2；…\nRegulatoryAuthority：机构1；机构2；…\n\
            Law：法规1；法规2；…\n\n格式细则\n- 若某类实体在该条款中完全未出现，写“无”\n- 每类用中文顿号“；”分隔\n- 必须与原文一字不差\n\
            - 保持专业、准确、机械化抽取\n\n示例\n输入：\n文档：中华人民共和国反不正当竞争法（2025年6月27日第十四届全国人民代表大会常务委员会第十六次会议第二次修订）\n\
            章节：第四章　法律责任\n条款：第三十条　\n内容：平台经营者违反本法第十四条规定强制或者变相强制平台内经营者以低于成本的价格销售商品的，由监督检查部门责令停止违法行为，处五万元以上五十万元以下的罚款；情节严重的，处五十万元以上二百万元以下的罚款。\n\
            \n输出：\n第三十条，\nTitle：中华人民共和国反不正当竞争法（2025年6月27日第十四届全国人民代表大会常务委员会第十六次会议第二次修订）\n\
            Chapter：第四章法律责任\nSection：第三十条\nAdvantageHolder：平台经营者\nDisadvantageHolder：平台内经营者\n\
            Action：强制或者变相强制平台内经营者以低于成本的价格销售商品\nPunishmentMeasure：处五万元以上五十万元以下的罚款；情节严重的，处五十万元以上二百万元以下的罚款\n\
            RegulatoryAuthority：监督检查部门\nLaw：本法第十四条规定\n\n执行指令\n现在请对以下输入的法规文本块进行“抱团压价”六类实体抽取：{{#1758540949631.item#}}"
        - id: f94aed57-ac05-4048-b4dc-dcc5eebd21d3
          role: user
          text: '{{#1758540949631.item#}}'
        selected: false
        title: LLM 3
        type: llm
        variables: []
        vision:
          enabled: false
      height: 87
      id: '1758540967382'
      parentId: '1758540949631'
      position:
        x: 92.8077507288856
        y: 66
      positionAbsolute:
        x: 794.3353904119057
        y: 508.8241402274583
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "def main(iteration_output: list, text_blocks: list) -> dict:\n    import\
          \ json\n    import re\n    import time\n    \"\"\"\n    输入：\n    - iteration_output:\
          \ LLM抽取的结构化实体数组\n    - text_blocks: 原始分块文本数组（包含完整条款内容）\n    \n    两个数组索引一一对应\n\
          \    \"\"\"\n    nodes = []\n    edges = []\n    node_map = {}      # 节点去重：key=\"\
          label:name\"\n    edge_set = set()   # 关系去重：key=\"start_id|end_id|label\"\
          \n    \n    # 预定义关系抽取规则\n    relation_rules = {\n        (\"Title\", \"\
          Chapter\"): \"包含\",\n        (\"Chapter\", \"Section\"): \"包含\",\n     \
          \   (\"Section\", \"AdvantageHolder\"): \"包含违规主体\",\n        (\"Section\"\
          , \"DisadvantageHolder\"): \"包含受害主体\",\n        (\"Section\", \"RegulatoryAuthority\"\
          ): \"包含监管机构\",\n        (\"AdvantageHolder\", \"DisadvantageHolder\"): \"\
          侵害\",\n        (\"AdvantageHolder\", \"Action\"): \"实施\",\n        (\"RegulatoryAuthority\"\
          , \"AdvantageHolder\"): \"监管\",\n        (\"RegulatoryAuthority\", \"Law\"\
          ): \"依照\",\n        (\"RegulatoryAuthority\", \"PunishmentMeasure\"): \"\
          处以\",\n        (\"AdvantageHolder\", \"PunishmentMeasure\"): \"受到处罚\"\n\
          \    }\n    \n    def get_timestamp_id(prefix):\n        return f\"{prefix}{int(time.time()\
          \ * 1000000)}\"\n    \n    def get_or_create_node(label, name, content=None):\n\
          \        \"\"\"获取或创建节点，保证同一name+label只创建一次\"\"\"\n        key = f\"{label}:{name}\"\
          \n        if key in node_map:\n            return node_map[key]\n      \
          \  \n        node_id = get_timestamp_id(\"E\")\n        node = {\n     \
          \       \"type\": \"node\",\n            \"id\": node_id,\n            \"\
          labels\": [label],\n            \"properties\": {\"name\": name}\n     \
          \   }\n        if content and label == \"Section\":\n            node[\"\
          properties\"][\"content\"] = content\n            \n        nodes.append(node)\n\
          \        node_map[key] = node_id\n        return node_id\n    \n    def\
          \ create_edge(start_id, start_label, end_id, end_label, relation):\n   \
          \     \"\"\"创建关系边，自动去重\"\"\"\n        # 使用规则定义的关系\n        relation = relation_rules.get((start_label,\
          \ end_label), relation)\n        \n        edge_key = f\"{start_id}|{end_id}|{relation}\"\
          \n        if edge_key in edge_set:\n            return\n        \n     \
          \   edge_set.add(edge_key)\n        edge_id = get_timestamp_id(\"R\")\n\
          \        edge = {\n            \"id\": edge_id,\n            \"type\": \"\
          relationship\",\n            \"label\": relation,\n            \"start\"\
          : {\"id\": start_id, \"labels\": [start_label]},\n            \"end\": {\"\
          id\": end_id, \"labels\": [end_label]}\n        }\n        edges.append(edge)\n\
          \    \n    # 确保两个数组长度一致\n    if len(iteration_output) != len(text_blocks):\n\
          \        min_len = min(len(iteration_output), len(text_blocks))\n      \
          \  iteration_output = iteration_output[:min_len]\n        text_blocks =\
          \ text_blocks[:min_len]\n    \n    # 遍历处理每一对数据\n    for i in range(len(iteration_output)):\n\
          \        llm_output = iteration_output[i]\n        original_block = text_blocks[i]\n\
          \        \n        # 提取文档结构信息\n        doc_match = re.search(r'文档：([^\\\
          n]+)', original_block)\n        doc_title = doc_match.group(1).strip() if\
          \ doc_match else \"\"\n        \n        chap_match = re.search(r'章节：([^\\\
          n]+)', original_block)\n        chap_title = chap_match.group(1).strip()\
          \ if chap_match else \"\"\n        \n        section_match = re.search(r'条款：([^\\\
          n]+)', original_block)\n        section_full = section_match.group(1).strip()\
          \ if section_match else \"\"\n        \n        section_name_match = re.search(r'(第[一二三四五六七八九十百]+条)',\
          \ section_full)\n        section_name = section_name_match.group(1) if section_name_match\
          \ else section_full[:10]\n        \n        # 提取完整条款内容\n        content\
          \ = \"\"\n        content_match = re.search(r'内容[：:]\\s*(.*?)(?=\\Z)', original_block,\
          \ re.DOTALL)\n        if content_match:\n            content = content_match.group(1).strip()\n\
          \        if not content and section_full:\n            content = re.sub(r'^第[一二三四五六七八九十百]+条\\\
          s*', '', section_full).strip()\n        if not content:\n            content\
          \ = section_full\n        \n        # 初始化数据字典\n        data = {\n      \
          \      'Title': '', 'Chapter': '', 'Section': '',\n            'AdvantageHolder':\
          \ '', 'DisadvantageHolder': '',\n            'RegulatoryAuthority': '',\
          \ 'Action': '',\n            'PunishmentMeasure': '', 'Law': ''\n      \
          \  }\n        \n        # 解析LLM输出 - 直接匹配新字段名\n        for line in llm_output.split('\\\
          n'):\n            if '：' in line:\n                parts = line.split('：',\
          \ 1)\n                key = parts[0].strip()\n                value = parts[1].strip()\
          \ if len(parts) > 1 else \"\"\n                if key in data:\n       \
          \             data[key] = value\n        \n        # 使用原始文档信息覆盖\n      \
          \  if doc_title:\n            data['Title'] = doc_title\n        if chap_title:\n\
          \            data['Chapter'] = chap_title\n        if section_name:\n  \
          \          data['Section'] = section_name\n        \n        # ==========\
          \ 创建层级节点 ==========\n        \n        title_id = chapter_id = section_id\
          \ = None\n        \n        # Title节点\n        if data['Title'] and data['Title']\
          \ != '无':\n            title_id = get_or_create_node(\"Title\", data['Title'])\n\
          \        \n        # Chapter节点\n        if data['Chapter'] and data['Chapter']\
          \ != '无':\n            chapter_id = get_or_create_node(\"Chapter\", data['Chapter'])\n\
          \            if title_id:\n                create_edge(title_id, \"Title\"\
          , chapter_id, \"Chapter\", \"包含\")\n        \n        # Section节点\n    \
          \    if data['Section'] and data['Section'] != '无':\n            section_id\
          \ = get_or_create_node(\"Section\", data['Section'], content)\n        \
          \    if chapter_id:\n                create_edge(chapter_id, \"Chapter\"\
          , section_id, \"Section\", \"包含\")\n            elif title_id:\n       \
          \         create_edge(title_id, \"Title\", section_id, \"Section\", \"包含\"\
          )\n        \n        # ========== 创建实体节点及关系 ==========\n        \n     \
          \   # AdvantageHolder（违规主体）\n        advantage_holders = [p.strip() for\
          \ p in data['AdvantageHolder'].split('；') \n                           \
          \ if p.strip() and p != '无']\n        advantage_ids = []\n        for holder\
          \ in advantage_holders:\n            hid = get_or_create_node(\"AdvantageHolder\"\
          , holder)\n            advantage_ids.append(hid)\n            if section_id:\n\
          \                create_edge(section_id, \"Section\", hid, \"AdvantageHolder\"\
          , \"包含违规主体\")\n        \n        # DisadvantageHolder（受害主体）\n        disadvantage_holders\
          \ = [p.strip() for p in data['DisadvantageHolder'].split('；') \n       \
          \                        if p.strip() and p != '无']\n        disadvantage_ids\
          \ = []\n        for holder in disadvantage_holders:\n            hid = get_or_create_node(\"\
          DisadvantageHolder\", holder)\n            disadvantage_ids.append(hid)\n\
          \            if section_id:\n                create_edge(section_id, \"\
          Section\", hid, \"DisadvantageHolder\", \"包含受害主体\")\n        \n        #\
          \ AdvantageHolder 侵害 DisadvantageHolder\n        for aid in advantage_ids:\n\
          \            for did in disadvantage_ids:\n                create_edge(aid,\
          \ \"AdvantageHolder\", did, \"DisadvantageHolder\", \"侵害\")\n        \n\
          \        # RegulatoryAuthority（监管机构）\n        regulators = [r.strip() for\
          \ r in data['RegulatoryAuthority'].split('；') \n                      if\
          \ r.strip() and r != '无']\n        regulator_ids = []\n        for reg in\
          \ regulators:\n            rid = get_or_create_node(\"RegulatoryAuthority\"\
          , reg)\n            regulator_ids.append(rid)\n            if section_id:\n\
          \                create_edge(section_id, \"Section\", rid, \"RegulatoryAuthority\"\
          , \"包含监管机构\")\n        \n        # Law（法律）\n        laws = [l.strip() for\
          \ l in data['Law'].split('；') if l.strip() and l != '无']\n        law_ids\
          \ = []\n        for law in laws:\n            lid = get_or_create_node(\"\
          Law\", law)\n            law_ids.append(lid)\n            if section_id:\n\
          \                create_edge(section_id, \"Section\", lid, \"Law\", \"依据\"\
          )\n        \n        # Action（行为）\n        actions = [a.strip() for a in\
          \ data['Action'].split('；') if a.strip() and a != '无']\n        action_ids\
          \ = []\n        for action in actions:\n            aid = get_or_create_node(\"\
          Action\", action)\n            action_ids.append(aid)\n            for hid\
          \ in advantage_ids:\n                create_edge(hid, \"AdvantageHolder\"\
          , aid, \"Action\", \"实施\")\n        \n        # PunishmentMeasure（处罚措施）\n\
          \        punishments = [p.strip() for p in data['PunishmentMeasure'].split('；')\
          \ \n                      if p.strip() and p != '无']\n        for pun in\
          \ punishments:\n            pid = get_or_create_node(\"PunishmentMeasure\"\
          , pun)\n            for rid in regulator_ids:\n                create_edge(rid,\
          \ \"RegulatoryAuthority\", pid, \"PunishmentMeasure\", \"处以\")\n       \
          \     for hid in advantage_ids:\n                create_edge(hid, \"AdvantageHolder\"\
          , pid, \"PunishmentMeasure\", \"受到处罚\")\n        \n        # RegulatoryAuthority\
          \ 监管 AdvantageHolder\n        for rid in regulator_ids:\n            for\
          \ hid in advantage_ids:\n                create_edge(rid, \"RegulatoryAuthority\"\
          , hid, \"AdvantageHolder\", \"监管\")\n        \n        # RegulatoryAuthority\
          \ 依照 Law\n        for rid in regulator_ids:\n            for lid in law_ids:\n\
          \                create_edge(rid, \"RegulatoryAuthority\", lid, \"Law\"\
          , \"依照\")\n    \n    # 生成输出\n    all_triples = nodes + edges\n    jsonl_lines\
          \ = [json.dumps(t, ensure_ascii=False) for t in all_triples]\n    \n   \
          \ preview_nodes = [l for l in jsonl_lines if '\"type\": \"node\"' in l][:2]\n\
          \    preview_edges = [l for l in jsonl_lines if '\"type\": \"relationship\"\
          ' in l][:2]\n    preview_str = \"\\n\".join(preview_nodes + preview_edges)\n\
          \    \n    return {\n        \"triples_jsonl\": \"\\n\".join(jsonl_lines),\n\
          \        \"node_count\": len(nodes),\n        \"edge_count\": len(edges),\n\
          \        \"preview\": preview_str,\n        \"stats\": f\"处理了{len(iteration_output)}个条款，生成{len(nodes)}个节点，{len(edges)}条关系（已去重）\"\
          \n    }"
        code_language: python3
        outputs:
          edge_count:
            children: null
            type: number
          node_count:
            children: null
            type: number
          preview:
            children: null
            type: string
          stats:
            children: null
            type: string
          triples_jsonl:
            children: null
            type: string
        selected: false
        title: 三元组构建
        type: code
        variables:
        - value_selector:
          - '1758540949631'
          - output
          value_type: array[string]
          variable: iteration_output
        - value_selector:
          - '17585314932320'
          - text_blocks
          value_type: array[string]
          variable: text_blocks
      height: 51
      id: '1774416556620'
      position:
        x: 1124.6071083989857
        y: 442.8241402274583
      positionAbsolute:
        x: 1124.6071083989857
        y: 442.8241402274583
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(triples_jsonl: str) -> dict:\n    import json\n    lines =\
          \ triples_jsonl.strip().split('\\n')\n    \n    # 分离节点和关系\n    nodes = {}\n\
          \    edges = []\n    \n    for line in lines:\n        if not line.strip():\n\
          \            continue\n        try:\n            obj = json.loads(line)\n\
          \            if obj.get('type') == 'node':\n                # 用 label:name\
          \ 作为唯一键\n                key = f\"{obj['labels'][0]}:{obj['properties']['name']}\"\
          \n                if key not in nodes:\n                    nodes[key] =\
          \ obj\n                else:\n                    # 如果已存在，保留有content的（Section节点）\n\
          \                    existing = nodes[key]\n                    if 'content'\
          \ in obj.get('properties', {}) and 'content' not in existing.get('properties',\
          \ {}):\n                        nodes[key] = obj\n            else:\n  \
          \              edges.append(obj)\n        except:\n            continue\n\
          \    \n    # 重新分配ID并建立映射\n    id_mapping = {}\n    final_nodes = []\n  \
          \  for key, node in nodes.items():\n        old_id = node['id']\n      \
          \  # 保留原ID或生成新ID\n        id_mapping[old_id] = old_id\n        final_nodes.append(node)\n\
          \    \n    # 更新关系中的ID引用\n    final_edges = []\n    for edge in edges:\n\
          \        start_id = edge['start']['id']\n        end_id = edge['end']['id']\n\
          \        # 确保引用的节点存在\n        if start_id in id_mapping and end_id in id_mapping:\n\
          \            final_edges.append(edge)\n    \n    # 输出\n    all_items = final_nodes\
          \ + final_edges\n    output = \"\\n\".join([json.dumps(x, ensure_ascii=False)\
          \ for x in all_items])\n    \n    return {\n        \"final_triples\": output,\n\
          \        \"stats_triples\": f\"节点: {len(final_nodes)}, 关系: {len(final_edges)}\"\
          \n    }"
        code_language: python3
        outputs:
          final_triples:
            children: null
            type: string
          stats_triples:
            children: null
            type: string
        selected: false
        title: 实体去重合并
        type: code
        variables:
        - value_selector:
          - '1774416556620'
          - triples_jsonl
          value_type: string
          variable: triples_jsonl
      height: 51
      id: '1774419330416'
      position:
        x: 1430.1026625409584
        y: 442.8241402274583
      positionAbsolute:
        x: 1430.1026625409584
        y: 442.8241402274583
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -8.31142955093128
      y: -164.25783924023722
      zoom: 0.7696221479334966
  rag_pipeline_variables: []
